.flex-container {
  min-width: 800px;
  display: flex;
  background-color: lightgray;
  padding: 1em;
  border-radius: 8px;
  margin: 1em auto;
}

.flex-item {
  background-color: #4caf50;
  color: white;
  padding: 1em;
  margin: 0.7em;
  text-align: center;
  border-radius: 4px;
  align-self: flex-end;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}
